<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Niania</title>
    </head>
    <body>
        <h1>Bonjour Niania</h1>
        {% for pin in liste%}
            {{pin.title}}
            {{pin.description}}<br/>

        {% endfor%}
    </body>
</html>
